@page
@model Korp.Latvia.Pages.ContactsModel
@{
    ViewData["Title"] = "Sazinies ar mums";
}

<section class="contact-start-section">    
        <div class="container">
        <div class=" w-75 position-absolute top-50 start-50 translate-middle">
            <h3 class="text-white text-center">Nāc ciemos</h3>
            <h1 class="text-white text-center">Mūsu atrašanās vieta</h1>
            </div>
        </div>    
</section>

<section class="contact py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 text-center">
                <h4>Studentu korporācija Latvia</h4>
            </div>
            <div class="col-md-4 text-center py-3">
                <picture><source srcset="/icons/5_ikona.png" type="image/png"><img src="/icons/5_ikona.png" alt="navigacijas_atzime" class="icon" /></picture>
                <p>
                    Šarlotes iela 3, Rīga, LV-1001
                </p>
            </div>
            <div class="col-md-4 text-center py-3">
                <picture><source srcset="/icons/7_ikona.png" type="image/png"><img src="/icons/7_ikona.png" alt="aploksne" class="icon" /></picture>
                <p>
                    info [at] latvus.lv
                </p>
            </div>
            <div class="col-md-4 text-center py-3">
                <picture><source srcset="/icons/6_ikona.png" type="image/png"><img src="/icons/6_ikona.png" alt="telefona_klausule" class="icon" /></picture>
                <p>
                    +371 26116220
                </p>
            </div>
        </div>
    </div>
</section>

<section class="people bg-secondary py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 py-4 text-center">
                <h4>Amatpersonas</h4>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-sm-6 col-md-4 pb-5 text-center">
                <picture>
                    <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/prezidijs/100x100/Niks_1_1.jpeg" alt="avatars" class="img-fluid rounded-circle people-image" />
                </picture>
                <p class="mb-1 mt-3">t/l I šarž!</p>
                <h6 class="">taut! Niks Gurtiņš</h6>
                <p class="">prezidijs [at] latvus.lv</p>
            </div>
            <div class="col-sm-6 col-md-4 pb-5 text-center">
                <picture>
                    <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/prezidijs/100x100/Rudolfs_1_1.jpg" alt="avatars" class="img-fluid rounded-circle people-image" />
                </picture>
                <p class="mb-1 mt-3">t/l II šarž!</p>
                <h6 class="">fil! Rūdolfs Rubenis</h6>
                <p class="">prezidijs [at] latvus.lv</p>
            </div>
            <div class="col-sm-6 col-md-4 pb-5 text-center">
                <picture>
                    <img src="https://korp-latvia-cdn-ckfeapdbhsg8cmb0.z01.azurefd.net/images/prezidijs/100x100/Agnis_1_1.jpeg" alt="avatars" class="img-fluid rounded-circle people-image" />
                </picture>
                <p class="mb-1 mt-3">t/l III šarž!</p>
                <h6 class="">taut! Agnis Salmiņš</h6>
                <p class="">prezidijs [at] latvus.lv</p>
            </div>
        </div>
    </div>
</section>

@*<section id="contact-form" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pb-5">
                <h4>Sūti ziņu mums</h4>
            </div>
            <div class="col-12">
                <form action="">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="input-name" class="col-form-label-sm">Vārds</label>
                            <input type="text" class="form-control" id="input-name" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input-surname" class="col-form-label-sm">Uzvārds</label>
                            <input type="text" class="form-control" id="input-surname" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="input-email" class="col-form-label-sm">E-pasts</label>
                            <input type="text" class="form-control" id="input-email" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input-phone" class="col-form-label-sm">Tālrunis</label>
                            <input type="text" class="form-control" id="input-phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-description" class="col-form-label-sm">Tava ziņa</label>
                        <textarea class="form-control"
                                  id="input-description"
                                  rows="4"></textarea>
                    </div>
                    <button type="button" class="btn btn-outline-primary contact-btn">
                        Sūtīt ziņu <i class="fas fa-long-arrow-alt-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>*@